* {padding:0; margin:0;}
a img{ border:none;}


ul, li {padding:0; margin:0; list-style-type:none;}

body {background:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-top:0px;}
img{ border:0px;}



h1 {padding-bottom:20px; color:#595959; font-size:24px;}
h3 {padding:5px 0; color:#fff; font-size:24px;}
h4 {padding:5px 0; color:#1E8100; font-size:13px;}

.container {position:relative; max-width:965px; margin:0 auto; background:#fff;}
.container2 {position:relative; max-width:965px; margin:0 auto;}

header {background:#fff;  border-bottom:1px solid #d3d3d3; z-index:2; padding:7px 0 15px; color:#838383; display:block;}

.logo {float:left; color:#fff; margin:0;}

.searcharea {float:left;}
.searcharea input[type="text"] {background:url(../images/searchbg.png) no-repeat 0 0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; float:left; width:270px; height:35px; border:none; padding-left:5px;}
.search-btn {background:url(../images/searchbg.png) no-repeat right 0; float:left; width:70px; height:35px; border:none; text-indent:-9999em; line-height:0; font-size:0; cursor:pointer;}

.navgation {background-color:#42a2ce;padding:5px 10px;}

nav {font-size:15px; color:#666666; display:block;  float:left;}
nav a {color:#fff; text-decoration:none;  float:left; margin-right:15px;}
nav a span {padding:8px 10px 9px 10px; float:left;}

nav a:hover, nav a.active {color:#fff; background:#28779b; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border-bottom:1px solid #a1d1e7;}
nav a:hover span, nav a.active span { padding-bottom:8px;}

.separator {background:url(../images/separator.png) no-repeat 0 0; width:1px; float:left; margin:8px; height:17px;}

.navright {float:right; line-height:0px;}
.navright a {margin:8px 0;  padding: 0 9px; float:left; color:#fff; text-decoration:none;}

.login {background:url(../images/login-icon.png) no-repeat 0 0; padding-left:16px; line-height:15px;}
.signup {background:url(../images/signup-icon.png) no-repeat 0 0; padding-left:16px; line-height:15px;}

article {display:block; padding:0px;}

.banner { text-align:center; line-height:0; margin:20px 0;}

header:after, .navgation:after, summary:after, header:before, .navgation:before, summary:before {display:table; content:""}
header:after, .navgation:after, summary:after {clear:both;}

.container:after, article:after, .slideshow:after, .whitebox:after, .container:before, article:before, .whitebox:before, .slideshow:before, 
.module-inner:after,.module-inner:before, .videorow:after, .videorow:before {
display:table;
content:""
}

.container:after, article:after, .whitebox:after, .slideshow:after, .module-inner:after, .videorow:after {clear:both;}



.slideshow {margin-bottom:10px; position:relative; background:#000; border:1px solid #ffffff;}
.video img {width:100%;}
.slideshow-content {background:#000; padding:10px 0;}
.slideshow-title {padding:0 10px; color:#fff; font-size:18px;}
.slideshow-content p {padding:5px 10px; color:#fff; font-size:12px; line-height:16px;}
.slideshow-content a {color:#fff; text-decoration:none;}
.slideshow-content .blue {color:#20beff;}
.grayline {border-top:1px solid #4c4c4c; padding-top:10px}


.module {position:relative; margin:15px 0;}
.module-title {color:#005a8d; font-size:24px; padding:10px 0; border-bottom:1px solid #b2b2b2;}
.module-inner {color:#000; font-size:14px; padding:10px; background:#f7f7f7}

.gallerythumb {float:left; margin-right:10px; width:50%;}
.gallerythumb a {position: relative; display: block;}
.gallerythumb p.duration { position: absolute; bottom: 8px; left: 5px; float: left; color: #ffffff; text-decoration: none;}

.col-md-1 {width:38%; float:right;}

.videorow {border-top:1px solid #dcdcdc; padding:10px 0;}
.videorow:first-child {border-top:none; padding-top:0;}
.videorow:last-child {padding-top:0; border-bottom:1px solid #dcdcdc; border-top:0;  padding:10px;}

.livevideo {margin-top:10px;}
.livevideo img {width:100%;}

.thumb {
    float: left;
    margin-right: 10px;
    width: 50%;
}

.gallery {float:left; margin:5px 5px 0 0; width:30%;}
.videothumb {position:relative;}
.videothumb a {border:1px solid #ccc; line-height:0; display:inline-block; background:#fff; padding:2px;}
.videothumb a:hover, .videothumb a.active {border:1px solid #30a4e9;}

.gallery p {color:#0089d9; line-height:17px;}
.play {bottom: 26%; position: absolute; right: 33%; width: auto !important;}

.popular {margin-bottom:10px; position:relative; color:#000000; font-size:14px;}
/*.popular p {margin-bottom:10px;}*/
.popular p a {color: #000000;}
.popular .small {font-size:11px;}
.popular .width40 > a { display: inline-block; position: relative;}
.smallplay {bottom: 35%; position: absolute; right: 35%; width: 25px !important;}

.twitter-cont {color:#000; font-size:12px;}
.twitter-cont p {padding-top:10px;}

.row {padding:8px 0;}
.row:after, .row:before { display:table; content:""}
.row:after {clear:both;}

.margin20_L {margin-left:20px;}

.width20 {width:20%; float:left;}
.width25 {width:25%; float:left;}
.width30 {width:31%; float:right; margin:0}

.width40 {width:40%; float:left;}
.width45 {width:45%; float:left;}
.width50 {width:50%; float:left;}
.width60 {width:60%; float:left;}
.width65 {width:65%; float:left;}
.width67 {width:67%; float:left;}
.width70 {width:70%; float:left;}
.width75 {width:75%; float:left;}
.width80 {width:80%; float:left;}

.trending-videos .width50 {font-size: 13px; margin: 3px 5px 3px 0; width: 49%;}

.blue-btn {background:url(../images/blue-btn.png) repeat-x 0 0; border:none; font-family:'myriad-web-pro'; font-size:16px; color:#FFFFFF; cursor:pointer; height:34px; padding:0 10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}



.margin10_T {margin-top:10px;}
.margin15_T {margin-top:15px;}
.margin20_T {margin-top:20px;}

.margin20_B {margin-bottom:20px;}


.red {color:#F00;}
.blue {color:#0089d9;}
.gray {color:#8b8b8b;}
.clear {clear:both;}
.left {float:left;}
.center {text-align:center;}
.right {float:right;}
.pullright {text-align:right;}

.floatleft {float:left; margin-right:10px;}
.floatright {float:right; margin-left:10px;}

.small {font-size:10px;}
.bigtext {font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}

footer {display:block; background:#28779b; padding:20px 0 15px; color:#bfd6e1;}

footer a {color:#bfd6e1; text-decoration:none;}
footer .container {background:none;}
footer span.left{ margin-top:6px;}

.news {color:#005b90; cursor: pointer; text-decoration: none;}
.news:hover {color:#222222; text-decoration:none;}

.more {color:#005b90; font-size:13px; font-weight:bold; float: right; margin-top: 6px;}
.more:hover {color:#222222; text-decoration:none;}

.devider {border-bottom:1px solid #dcdcdc; padding:12px 0;}

.margin5 {margin:5px;}


.home-icon{ background:url(../images/home-icon.png) no-repeat left top; float:left; font-size:0; text-indent:-9999px; width:16px; height:15px; margin-right:15px;}
.home{ background:url(../images/home.png) no-repeat left top; float:left; font-size:0; text-indent:-9999px; width:16px; height:15px; margin-right:15px;}
.contact-icon{ background:url(../images/mail-icon.png) no-repeat left 2px; float:left; font-size:0; text-indent:-9999px; width:20px; height:15px; margin-right:20px;}
.contact{ background:url(../images/mail.png) no-repeat left 2px; float:left; font-size:0; text-indent:-9999px; width:20px; height:15px; margin-right:20px;}
.topmenu a{ text-decoration:none; font-size:11px; font-family:arial; color:#000;}
.topmenu a:hover{ text-decoration:underline;}
.topmenu span{ margin:0 9px;}
.searcharea input[type="text"].searchbox{ border:1px solid #e7e7e7; background:none; padding:5px; height:auto;}

.welcometxt{ color:#c1e0ef; font-size:12px; padding-top:18px;}
.bannerArea{ background:#28779b; overflow:hidden;}

.aroundmod .module-title, .huff .module-title, .weirdmod .module-title{ background:#abdc28 url(../images/green-title-bg.jpg) repeat-x left top; text-transform:uppercase; color:#000; padding:10px 10px 4px; line-height:24px; border-color:#000;}
.aroundmod .module-inner{ font-size:17px; color:#222;}
.aroundmod .module-inner .row, .worldmod .module-inner .row, .weirdmod  .module-inner .row{ border-top:1px solid #e3e3e3;}
.aroundmod .module-inner .row:first-child{ border:0;}

.TopNews .module-title, .worldmod  .module-title{ background:#febf05 url(../images/orange-title-bg.jpg) repeat-x left top; text-transform:uppercase; color:#000; padding:10px 10px 4px; line-height:24px; border-color:#000;}

.livevideo{ border:1px solid #505050;}
.clearboth{ clear:both; display:block; height:0; overflow:hidden;}

.twitterposts .module-title, .RgtTopNews .module-title, .popular .module-title{ background:#49a5bf url(../images/sky-blue-bg.jpg) repeat-x left top; text-transform:uppercase; color:#000; padding:10px 10px 4px; line-height:24px; border-color:#000; font-size:22px;}

.RgtTopNews .news-item {
	width: 100%;
}
.RgtTopNews .news-graphic {
	float: left;
	margin-right: 10px;
}
.RgtTopNews .news-graphic img {
	width: 50%;
}


@media screen and (max-width:480px) {

.searcharea input[type="text"] {width:200px;}

.navgation {padding:5px;}

nav a {padding-left:6px; font-size:11px;}
nav a span {padding-right:6px;}
.separator {margin:8px 4px;}


nav, .navright {font-size:12px; float:none; width:100%; clear:both;}
.navright { padding-bottom:10px;}

.banner img {width:100%;}

.module-inner {padding:8px; font-size:12px;}

aside.width67 {width:100%; float:none;}
aside.width30 {width:100%; float:none; margin:0;}

.thumb {width:auto;}
.popular .width40 {width:auto;}
.popular .width40 img { margin-right:10px;}

.col-md-1 img, .gallerythumb img {width:100%;}


summary .right {float:left; width:100%; margin-top:10px;}

}

@media screen and (min-width:481px) and (max-width:600px) {

.searcharea input[type="text"] {width:220px;}

.navgation {padding:5px;}

nav a {padding-left:6px; font-size:12px;}
nav a span {padding-right:6px;}

.navright {margin:5px; float:none; clear:both;}

.separator {margin:8px 5px;}


.banner img {width:100%;}

.module-inner {padding:8px; font-size:12px;}

aside.width67 {width:100%; float:none;}
aside.width30 {width:100%; float:none; margin:0;}

.thumb {width:auto;}
.popular .width40 {width:auto;}
.popular .width40 img { margin-right:10px;}

.col-md-1 img {width:100%;}
.gallerythumb img {width:100%;}

}

@media screen and (min-width:601px) and (max-width:700px) {


.navgation {padding:5px;}

nav a {padding-left:6px; font-size:12px;}
nav a span {padding-right:6px;}

.navright {margin:5px; float:none; clear:both;}

.separator {margin:8px 5px;}

.banner img {width:100%;}
.gallerythumb img {width:100%;}


.module-inner {padding:8px; font-size:12px;}

aside.width67 {width:100%; float:none;}
aside.width30 {width:100%; float:none; margin:0;}

.thumb {width:auto;}
.popular .width40 {width:auto;}
.popular .width40 img { margin-right:10px;}

.col-md-1 img {width:100%;}


}

@media screen and (min-width:701px) and (max-width:800px) {

.banner img {width:100%;}
.navgation {padding:5px;}

nav a {padding-left:6px; font-size:13px;}
nav a span {padding-right:6px;}

.separator {margin:8px 5px;}
.module-inner {padding:8px; font-size:12px;}

aside.width67 {width:100%; float:none;}
aside.width30 {width:100%; float:none; margin:0;}

.thumb {width:auto;}
.popular .width40 {width:auto;}
.popular .width40 img { margin-right:10px;}

}


@media screen and (min-width:801px) and (max-width:900px) {

.module-inner {padding:8px; font-size:12px;}

.module-title {font-size:18px;}
.gallery img {width:100%;}

.gallerythumb img {width:100%;}

.separator {margin:8px 5px;}


.popular .width40 img {width:98%;}

.rt-tpadd img, .rt-btadd img {width:100%;}
.thumb {width:50%; margin-right:10px;}
.col-md-1 img, .thumb img {width:100%;}
.twitterAdd img {width:100%;}
}




@media screen and (min-width:901px) and (max-width:1024px) {

.module-inner {font-size:13px;}
.module-title {font-size:20px;}
.gallery img {width:100%;}

.gallerythumb img {width:100%;}

.popular .width40 img {width:98%;}

.rt-tpadd img, .rt-btadd img {width:100%;}
.thumb {width:50%; margin-right:10px;}
.col-md-1 img, .thumb img, .twitterAdd img {width:100%;}

}



.margin5_L {margin-left:5px;}
.margin10_L {margin-left:10px;}
.videodetails {position:relative; font-size:14px;}
.videodetails .title {font-size:14px; color:#0089D9; margin-bottom:10px;}
.videodetails .title a {color:#0089D9;}
.videodetails  .description {font-size:12px; margin-bottom:10px;}
